<widget id="app-bookmark-list" th:data-widget-url="${widgetURL}">
  <link rel="stylesheet" type="text/css" th:href="${portal.assetUrl({'_path=/css/styles.min.css'})}" />
  <section th:if="${hasLicense}" id="bookmark__top-menu" class="bookmark__top-menu" th:data-bookmark-service-url="${bookmarkServiceURL}" th:data-repository-id="${repositoryId}" th:data-branch="${branch}">
    <div class="bookmark-list-header">
      <label id="checkAll"><input type="checkbox"></label>
      <button id="removeSelection" class="removeSelection disabled" th:text="${strings.removeSelectedText}">Remove selected</button>
      <button data-id="deprioritizeSelected" class="removeSelection disabled" th:text="${strings.removePriorityText}">Remove priority</button>
      <button data-id="prioritizeSelected" class="removeSelection disabled" th:text="${strings.addPriorityText}">Add priority</button>
      <button id="refreshContent" class="refreshContent" th:text="${strings.refreshText}">Refresh</button>
    </div>

    <ul class="bookmark-list">
      <li class="item" th:each="item:${items}">
        <div class="item-wrapper">
          <label th:id="${item._id}"><input type="checkbox"></label>
          <div th:data-content-id="${item._id}" class="toggle icon expand" th:classappend="${item.hasChildren} ? 'expandable' : ''"></div>
          <a th:href="${item.link}" target="_blank" class="item-info" th:classappend="${item.isPriority} ? 'priority' : ''">
            <img th:src="${item.icon}" width="32" height="32" alt="">
            <div class="content-info">
              <strong th:text="${item.displayName}">Content name</strong>
              <p th:text="${item._path}">/site/content/path</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </section>

  <section id="bookmark__top-menu" th:unless="${hasLicense}" class="bookmark__top-menu">
    <div class="bookmark_license">
      <p th:text="${strings.licenseTitle}">The tool requires a valid license from Seeds. Please contact your administrator.</p>
      <div class="upload-file" id="bookmark_upload_input">
        <span class="loader"></span>
        <label th:text="${strings.licenseUpload}">Upload license</label>
        <input th:data-license-service-url="${licenseServiceURL}" type="file"></input>
      </div>
      <p class="error-message" th:text="${strings.licenseIsInvalid}">The license file selected is invalid</p>
    </div>
  </section>
  <script th:src="${portal.assetUrl({'_path=/js/bookmark.js'})}"></script>
</widget>
